.wrapping-link{
  color: inherit;
}

.open-project-view-item:hover{
  color: grey;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
}
.open-project-view-item{
  color: black;
}

.project-description{
  word-break: break-all;
}

.project-image{
  width:100px;
  height:100px;
}

.project-box-style{
  border: solid gray 1px;
  min-width:300px;
  min-height:300px;
  max-width:300px;
  max-height:300px;
  overflow:hidden;
}

.projects-view{
  margin:auto;
}

.honey{
  height:50px;
  width:50px;
}

.offerer-taskoffer-status{
  list-style-type: none;

}

.new-task-input{
  width: 80%;
}

.per td{
  padding:5px;
}

.per label{
  display: block;
}

.per table {
    border-collapse: collapse;
}

.per table, .per th,.per td {
    border: 1px solid black;
}

.permis{
  max-width:1000px;
}

.plus_minus {
    font-size: 40px;
    border: none;
    background: none;
}

.center {
    padding-top: 0px;
    text-align: center;
}

.space_bottom {
    margin-bottom: 16px;
}

#event_notifications {
    z-index: 998;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
}
.inner-message {
    margin: 0 auto;
}

.link-span{
  position:absolute;
  width:92%;
  height:100%;
  top:0;
  left: 0;
  z-index: 999;
 }