{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Error{% endblock %}

{% block content %}
  <h2 class="mt-5">Sorry, but your either no longer have the proper permissions to view this project/task, or this project/task no longer exists.</h2>
  <p>Go back to safe ground by clicking here: <a href="/">Home</a></p>
{% endblock %}

