{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}

{% block title %}Project{% endblock %}


{% block content %}
  <h3>{{ project.title }}</h3>
  <p>{{ project.description }}</p>

  <h3>Task: {{task.title}}</h3>
  <h3>Permission: {{permission_type}}</h3>
    <form enctype="multipart/form-data" method="post" id="permission_form">
      {% csrf_token %}

      {% bootstrap_form form %}
      <div class="center">
      <div class="space_bottom">
          <button type="button" title="Gives the selected users permission" class="plus_minus" id="plus_users">{% icon 'plus' %}</button>
          <button type="button" title="Removes permission from the selected users" class="plus_minus" id="minus_users">{% icon 'minus' %}</button>
      </div>
        <div>
          <button class="btn btn-lg btn-primary" type="submit">OK</button>
          <button class="btn btn-primary btn-lg" type="button" onclick="location.href='{% url 'task_view' project_id=project.pk task_id=task.pk %}'">Cancel</button>
        </div>
      </div>
  </form>
  {% load static %}
  <script src="{% static 'js/modify_permission.js' %}"></script>
{% endblock %}
